
a:link{
	text-decoration:none;
}


y: 'Fjalla One', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Oswald', sans-serif;
    color: grey;
    margin: 0;
    padding: 0;
}

.izquierda{
	height: 800px;
	width: 33%;
	background-color:#333366;
	position: fixed;
	padding-top: 20px;
	text-align: center;

}

.derecha{
	height: 3000px;
	width: 66%;
	position: relative;
	left: 35%;
	border-top:1px solid grey;
	

}
li{
	list-style: none;
	margin-top: 20px;
	margin-bottom:20px;

}


.lista{
	color:white;
}			

.img{
	 border-radius: 100%;
	 border color: solid red;
	
}

h1{
	color:#333366;