
body{
	margin-top: 10px;
}



.fila1{
background-image: url("../img/kathryn.jpg");
background-position: cover;
background-size:100%;
background-repeat: no-repeat;
height: 500px;


}

img{
	width:100%;


}

.fila2{


}


h1, h2{
	text-align: center;
	margin-top:20px;




}
